@page "/nav"
@using Client.ApplicationStates
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    Welcome, @CapitalizeName(context.User.Identity!.Name)!
                </a>
                <button title="Navigation Menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/home/dashboard">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="javascript: void(0)" @onclick="ShowAdminMenuContainer">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                            <span>Manage Users</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white" href="/users">
                        <div class="hstack" style="margin-left: 2rem; cursor: pointer; visibility: @CssStyle" @onclick="UserClicked">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                            <span>Users</span>
                        </div>
                    </a>
                </div>
                <div class="nav-item px-3" style="margin-top: @RequestMargin">
                    <NavLink class="nav-link p-2" href="/requests" @onclick="RequestClicked">
                        <span class="bi bi-file-earmark-plus fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                        <span>Requests</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-top: @AccountingMargin">
                    <NavLink class="nav-link p-2" href="javascript: void(0)" @onclick="ShowAccountingContainer">
                        <div class="hstack gap-1">
                            <span class="bi bi-calculator fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                            <span>Accounting</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left: 2rem; visibility: @AccountingCssStyle">
                        <ul class="list-group">
                            <li style="list-style: none; cursor: pointer">
                                <a class="nav-link p-2" href="/accounting/accountingapproval" @onclick="AccountingApprovalClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-currency-dollar fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem"></span>
                                        <span class="fs-6">Approval</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style: none; cursor: pointer">
                                <a class="nav-link p-2" href="/accounting/accountingcomplete" @onclick="AccountingCompleteClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-check-all fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem"></span>
                                        <span class ="fs-6">Approved</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-item px-3" style="margin-top: @DeliveryMargin">
                    <NavLink class="nav-link p-2" href="javascript: void(0)" @onclick="ShowDeliveryContainer">
                        <div class="hstack gap-1">
                            <span class="bi bi-truck fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                            <span>Deliveries</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left: 2rem; visibility: @DeliveryCssStyle">
                        <ul class="list-group">
                            <li style="list-style: none; cursor: pointer">
                                <a class="nav-link p-2" href="/deliveries/orderdeliveries" @onclick="OrderDeliveryClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-box-seam-fill fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem"></span>
                                        <span class="fs-6">In Transit</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style: none; cursor: pointer">
                                <a class="nav-link p-2" href="/deliveries/ordersreceived" @onclick="OrderReceivedClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-check-circle-fill fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem"></span>
                                        <span class="fs-6">Received</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-item px-3" style="margin-top: @CoaMargin">
                    <NavLink class="nav-link p-2" href="/coa" @onclick="CoaClicked">
                        <span class="bi bi-journal-check fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                        <span>COA</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-top: @InspectionMargin">
                    <NavLink class="nav-link p-2" href="/inspections" @onclick="InspectionClicked">
                        <span class="bi bi-search fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                        <span>Inspection</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="margin-top: @PurchaseOrderMargin">
                    <NavLink class="nav-link p-2" href="/purchaseorders" @onclick="PurchaseOrderClicked">
                        <span class="bi bi-bag-check fs-3 text-center" aria-hidden="true" style="margin-top: -2rem"></span>
                        <span>Purchase Orders</span>
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    public string RequestMargin { get; set; } = "-3.5rem";
    private string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;
    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            RequestMargin = "0";
            CssStyle = "visible";
        }
        else
        {
            RequestMargin = "-3.5rem";
            CssStyle = "hidden";
        }
    }

    public string AccountingMargin { get; set; } = "0rem";

    public string DeliveryMargin { get; set; } = "-7rem";
    private string AccountingCssStyle = "hidden";
    public bool ShowHideAccounting { get; set; } = false;
    private void ShowAccountingContainer()
    {
        ShowHideAccounting = !ShowHideAccounting;
        if (ShowHideAccounting)
        {
            DeliveryMargin = "0";
            AccountingCssStyle = "visible";
        }
        else
        {
            DeliveryMargin = "-7rem";
            AccountingCssStyle = "hidden";
        }
    }

    public string CoaMargin { get; set; } = "-7rem";
    private string DeliveryCssStyle = "hidden";
    public bool ShowHideDelivery { get; set; } = false;
    private void ShowDeliveryContainer()
    {
        ShowHideDelivery = !ShowHideDelivery;
        if (ShowHideDelivery)
        {
            CoaMargin = "0";
            DeliveryCssStyle = "visible";
        }
        else
        {
            CoaMargin = "-7rem";
            DeliveryCssStyle = "hidden";
        }
    }

    public string InspectionMargin { get; set; } = "0rem";
    public string PurchaseOrderMargin { get; set; } = "0rem";

    void RequestClicked() => allState.RequestClicked();
    void PurchaseOrderClicked() => allState.PurchaseOrderClicked();
    void AccountingApprovalClicked() => allState.AccountingApprovalClicked();
    void AccountingCompleteClicked() => allState.AccountingCompleteClicked();
    void OrderDeliveryClicked() => allState.OrderDeliveryClicked();
    void OrderReceivedClicked() => allState.OrderReceivedClicked();
    void CoaClicked() => allState.CoaClicked();
    void InspectionClicked() => allState.InspectionClicked();
    void UserClicked() => allState.UserClicked();

    private string CapitalizeName(string name)
    {
        if (string.IsNullOrEmpty(name))
            return string.Empty;

        return char.ToUpper(name[0]) + name.Substring(1);
    }
}
