@implements IDisposable
@if (allState.ShowAccountingComplete)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Approved Budget Requests</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i> Input Accounting Details
                        </button>
                    </div>
                    <div class="card-header" style="max-height: 580px; overflow-x: hidden; overflow-y: scroll;">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center">#</th>
                                        <th scope="col" style="text-align: center">Cancelled</th>
                                        <th scope="col" style="text-align: center">Amount</th>
                                        <th scope="col" style="text-align: center">Balance</th>
                                        <th scope="col" style="text-align: center">Penalty</th>
                                        <th scope="col" style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (AccountingComplete is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in AllAccountingComplete)
                                        {
                                            <tr>
                                                <th scope="row" style="text-align: center">@count</th>
                                                <td style="text-align: center">@item.Cancelled</td>
                                                <td style="text-align: center">@item.Amount</td>
                                                <td style="text-align: center">@item.Balance</td>
                                                <td style="text-align: center">@item.Penalty</td>
                                                <td style="text-align: center">@item.AccountingApproval!.Id</td>
                                                <td style="text-align: center">
                                                    <button type="button" class="btn btn-outline-info" @onclick="()=>EditClicked(item)"><i class="bi bi-pencil"></i> Edit </button>
                                                    <button type="button" class="btn btn-outline-danger" @onclick="()=>DeleteClicked(item)"><i class="bi bi-trash"></i> Delete </button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4"><div class="alert-info text-center">No Received Delivery details added yet!</div></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<AccountingCompleteDialog @ref="accountingCompleteDialog"
                     HandleSaveOperationEvent="HandleSaveOperationEvent"
                     AccountingComplete="AccountingComplete"
                     AccountingApprovals="AccountingApprovals" />
@code {
    AccountingCompleteDialog? accountingCompleteDialog;
    AccountingComplete AccountingComplete = new();
    public string Title { get; set; } = "Add";
    public List<AccountingComplete> AllAccountingComplete { get; set; } = new();
    public List<AccountingApproval> AccountingApprovals { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetAllAccountingComplete();
        await GetAccountingApprovals();
        allState.Action += StateHasChanged;
    }

    private async Task GetAllAccountingComplete()
    {
        AllAccountingComplete = await accountingCompleteService.GetAll(Constants.AccountingCompleteBaseUrl);
    }
    private async Task GetAccountingApprovals()
    {
        AccountingApprovals = await accountingApprovalService.GetAll(Constants.AccountingApprovalBaseUrl);
    }

    void OpenDialog()
    {
        accountingCompleteDialog?.OpenDialog();
    }

    private async Task HandleSaveOperationEvent(AccountingComplete accountingComplete)
    {
        bool successCheck = false;
        if (AccountingComplete.Id > 0)
        {
            var result = await accountingCompleteService.Update(accountingComplete, Constants.AccountingCompleteBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await accountingCompleteService.Insert(accountingComplete, Constants.AccountingCompleteBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            AccountingComplete AccountingComplete = new();
            await GetAllAccountingComplete();
            accountingCompleteDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(AccountingComplete accountingComplete)
    {
        accountingCompleteDialog?.ChangeTitle("Update");
        AccountingComplete = accountingComplete;
        OpenDialog();
    }

    private async Task DeleteClicked(AccountingComplete accountingComplete)
    {
        bool confirm = await dialogService.ConfirmAsync($"You are going to delete accounting ID #{accountingComplete.Id}, are you sure?", 
        "Confirm Delete");
        if (!confirm) return;

        var response = await accountingCompleteService.DeleteById(accountingComplete.Id, Constants.AccountingApprovalBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))
            await GetAccountingApprovals();
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await dialogService.AlertAsync(message, "Success!");
            return true;
        }
        else
        {
            await dialogService.AlertAsync(message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
