@page "/deliveries/ordersreceived"
@implements IDisposable
@if (allState.ShowOrderReceived)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">Received Deliveries</h4>
                        <button class="btn btn-success float-end" @onclick="OpenDialog">
                            <i class="bi bi-plus-circle-dotted"></i> Input Delivery Details
                        </button>
                    </div>
                    <div class="card-header" style="max-height: 580px; overflow-x: hidden; overflow-y: scroll;">
                        <div class="card-body">

                           <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center">#</th>
                                        <th scope="col">Date Received</th>
                                        <th scope="col">Delivery Days</th>
                                        <th scope="col">Extension Letter</th>
                                        <th scope="col" style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (OrdersReceived is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in OrdersReceived)
                                        {
                                            <tr>
                                                <th scope="row" style="text-align: center">@count</th>
                                                <td>@item.DateReceived</td>
                                                <td>@item.DeliveryDays</td>
                                                <td>@item.ExtensionLetterFileName</td>
                                                <td>@item.OrderDelivery!.Id</td>
                                                <td style="text-align: center">
                                                    <button type="button" class="btn btn-primary" style="text-align: center" @onclick="()=>EditClicked(item)"><i class="bi bi-pencil"></i> Edit </button>
                                                    <button type="button" class="btn btn-danger" style="text-align: center" @onclick="()=>DeleteClicked(item)"><i class="bi bi-trash"></i> Delete </button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4"><div class="alert-info text-center">No Received Delivery details added yet!</div></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<OrderReceivedDialog @ref="orderReceivedDialog"
HandleSaveOperationEvent="HandleSaveOperationEvent"
OrderReceived="OrderReceived"
OrderDeliveries="OrderDeliveries"/>
@code {
    OrderReceivedDialog? orderReceivedDialog;
    OrderReceived OrderReceived = new();
    public string Title { get; set; } = "Add";
    public List<OrderReceived> OrdersReceived { get; set; } = new();
    public List<OrderDelivery> OrderDeliveries { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        await GetOrdersReceived();
        await GetOrderDeliveries();
        allState.Action += StateHasChanged;
    }

    private async Task GetOrdersReceived()
    {
        OrdersReceived = await orderReceivedService.GetAll(Constants.OrderReceivedBaseUrl);
    }
    private async Task GetOrderDeliveries()
    {
        OrderDeliveries = await orderDeliveryService.GetAll(Constants.OrderDeliveryBaseUrl);
    }

    void OpenDialog()
    {
        orderReceivedDialog?.OpenDialog();
    }

    private async Task HandleSaveOperationEvent(OrderReceived orderReceived)
    {
        bool successCheck = false;
        if (OrderReceived.Id > 0)
        {
            var result = await orderReceivedService.Update(orderReceived, Constants.OrderReceivedBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await orderReceivedService.Insert(orderReceived, Constants.OrderReceivedBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            OrderReceived OrderReceived = new();
            await GetOrdersReceived();
            orderReceivedDialog?.ChangeTitle("Add");
        }
    }

    private void EditClicked(OrderReceived orderReceived)
    {
        orderReceivedDialog?.ChangeTitle("Update");
        OrderReceived = orderReceived;
        OpenDialog();
    }

    private async Task DeleteClicked(OrderReceived orderReceived)
    {
        bool confirm = await dialogService.ConfirmAsync($"You are going to delete received delivery ID #{orderReceived.Id}, are you sure?", "Confirm Delete");
        if (!confirm) return;

        var response = await orderReceivedService.DeleteById(orderReceived.Id, Constants.OrderDeliveryBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))
            await GetOrderDeliveries();
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await dialogService.AlertAsync(message, "Success!");
            return true;
        }
        else
        {
            await dialogService.AlertAsync(message, "Alert!");
            return false;
        }
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}
