@if (ShowDetailsPage)
{
    <SfDialog Width="1000px" IsModal="true" @bind-Visible="ShowDetailsPage" Header="Purchase Order Details">
                <div class="card border-success shadow-lg">
                    <div class="card-header">Purchase Order #@PurchaseOrderDetails.Id Details</div>
                    <div class="card-body">
                        <div class="hstack gap-2">
                            <div class="vstack gap-3">
                                <table class="table border-danger">
                                    <tbody>
                                        <tr>
                                            <td><h6 class="fw-bold-bold">ID:</h6></td>
                                            <td> @PurchaseOrderDetails.Id</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Record Number:</h6></td>
                                            <td> @PurchaseOrderDetails.RequestId</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Accounting:</h6></td>
                                            <td> @PurchaseOrderDetails.AccountingCompleteId</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Delivery:</h6></td>
                                            <td> @PurchaseOrderDetails.OrderReceivedId</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Commision on Audit:</h6></td>
                                            <td> @PurchaseOrderDetails.CoaId</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Inspection:</h6></td>
                                            <td> @PurchaseOrderDetails.InspectionId</td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="fw-bold">Remarks:</h6></td>
                                            <td> @PurchaseOrderDetails.Remarks</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger" @onclick="DetailsPageCloseButtonClicked">Close</button>
                        </div>
                    </div>
                </div>
</SfDialog>
}
@code {
    [Parameter] public bool ShowDetailsPage { get; set; }
    [Parameter] public PurchaseOrder PurchaseOrderDetails { get; set; } = new();
    [Parameter] public EventCallback HandleDetailsPageCloseButtonClicked { get; set; } = new();

    async Task DetailsPageCloseButtonClicked() => await HandleDetailsPageCloseButtonClicked.InvokeAsync();
}
